.swingTransfer {
  flex: 1;
  min-height: 55vh;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1rem 0;

  & > h3 {
    margin-bottom: 1rem;
  }
}

.stepsNav {
  width: 100%;
  padding: 0.5rem;

  ul {
    display: flex;
    gap: 1rem;
    align-items: center;

    li {
      margin: 0;
      padding: 0;

      button {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
        padding: 0.25rem;
      }
    }

    li.currentStep ~ li {
      button {
        background-color: var(--primary-focus);
        color: var(--primary);
      }
    }
  }
}

.tokenSelector {
  max-width: 540px;

  select,
  input {
    margin: 0;
  }
}

.inputCombo {
  position: relative;
  margin-top: 0.125rem;

  input {
    padding-right: calc(11.25rem + var(--form-element-spacing-horizontal));
  }

  .unit {
    position: absolute;
    background-color: var(--background-color);
    color: var(--muted-color);
    font-size: 0.625rem;
    bottom: 0.125rem;
    right: calc(11.25rem + var(--form-element-spacing-horizontal));
    display: flex;
    align-items: center;
    z-index: 1;
  }

  .addonBottomRight,
  .addonTopRight {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0.1rem 2.5rem 0.1rem 0.5rem;
    border-radius: 0 0.25rem 0 0;
    font-size: 0.85rem;
    width: 11.25rem;
  }

  .addonBottomRight {
    top: auto;
    bottom: 0;
    border-radius: 0 0 0.25rem 0;
  }
}
